.other-scores {
    min-width: fit-content;
    height: 200px;
    background-color: darkgray;
    margin-right: 20px;
    flex-shrink: 0;
  }

ul{
  padding:0;
  border-width: 0;
  margin:0;
}

li{
  padding: 0;
}

.score{
  margin: 0;
}